/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.index1, .index2{
  width: 100%;
  margin: 20px 0;
}
.index_all{
  width: 100%;
  background-color: #fff;
  color: #333;
  font-size: 13px;
  /*line-height: 18px;*/
  margin: 33px 33px;
}

table{
  width: 100%;
  display: flex;
  /*justify-content: center;*/
  /*background-color: blue;*/
  flex-direction: column;
}
.ld_tbs{
  /*display: flex;*/
  /*vertical-align: inherit;*/
  /*text-align: center;*/
  /*line-height: 5px;*/
  margin-bottom: 20px;
}
.button{
  padding: 0 5px;
}

.index_error{
  margin-bottom: 10px;
}
.xx{
  margin: 5px 0;
}






.top_all{
  width: 500px;
  margin: 20px 0 0 20px;
}
.top1{
  margin: 20px;
}
.top_p{
  margin-bottom: 20px;
}



.show_all{
  margin: 30px 0 0 30px;
}
.show1{
  margin: 15px 0 0 15px;
}
.show_tb{
  font-weight: bold;
}
.show1a, .show1b, .show1c{
  margin-bottom: 20px;
}



.edit_all{
  margin: 30px 0 0 30px;
}
.edit_body{
  margin-top: 10px;
}
.edit_title_text{
  margin-top: 15px;
}
.update_button{
  margin-bottom:  5px;
}